# Python bytecode
*.pyc
*.pyo
__pycache__/

# Virtual environment folders
venv/
env/
.venv/
.env/

# Django environment variables
.env
.env.*

# Django migrations bytecode
*/migrations/__pycache__/
*/migrations/*.pyc

# Database temporary files
db.sqlite3-journal

# Static files you don't want in Git
/static/admin/

# Log and cache files
*.log
*.pot
*.mo
*.pid
*.cache
*.coverage
*.coverage.*

# IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Coverage reports
htmlcov/
.coverage

