{% load static %}

<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Dad Jokes</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">


</head>
<body>
  <nav>
    <a href="{% url 'dadjokes:home' %}">Home</a> |
    <a href="{% url 'dadjokes:jokes' %}">Jokes</a> |
    <a href="{% url 'dadjokes:pictures' %}">Pictures</a> |
    <a href="{% url 'dadjokes:api_jokes' %}">API: All Jokes (JSON)</a>
  </nav>
  <hr/>
  {% block content %}{% endblock %}
</body>
</html>

