<!-- File: home.py
# Author: MD Toha (mdtoha@bu.edu), 
# Description: this is the base html file
-->


{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Mini_Insta App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>Mini_insta App</h1>

        

        
    </header>
    <main>
        {% if user.is_authenticated %}
            <p>Logged in as: {{ user.username }} | </p>
        {% else %}
            <p><a href="{% url 'login' %}">Login</a></p>
         {% endif %}

         <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
<hr>

    </main>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>
