<!-- File: create_post_form.html
Author: MD Toha (mdtoha@bu.edu)
Description: Form for creating a new post associated with a specific profile.
-->

{% extends "mini_insta/base.html" %}

{% block content %}



<form method="POST" enctype="multipart/form-data" action="{% url 'create_post' profile.pk %}">
    {% csrf_token %}
    
    {{ form.as_p }}

    <label>Upload Photos:</label>
    <input type="file" name="files" multiple>

    <button type="submit">Submit</button>
    <a href="{% url 'show_profile' profile.pk %}">Cancel</a>
</form>






{% endblock %}