
<!-- File: show_following.html
# Author: MD Toha (mdtoha@bu.edu), 
# Description:  This template displays the list of profiles that the current user profile
    is following in the Mini_Insta app. If the profile is following other users,
    each followed user's display name is shown as a clickable link that navigates
    to their profile page. If the profile is not following anyone, a fallback
    message is displayed.


-->


{% extends "mini_insta/base.html" %}

{% block content %}


{% if profile.get_following %}
    
    <ul>
        {% for following in profile.get_following %}
            <li>
                <a href="{% url 'show_profile' following.pk %}">
                    {{ following.display_name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No followings yet.</p>
{% endif %}


<a href="{% url 'show_profile' profile.pk %}">Back to Profile</a>




{% endblock %}