<!-- File: show_post.html
# Author: MD Toha (mdtoha@bu.edu), 
# Description: Display a single post with caption, timestamp, and photos.


-->





{% extends "mini_insta/base.html" %}

{% block content %}

    <header>
        <h1>    </h1>    
    </header>
    <main>
        <p><strong>{{ post.get_num_likes }} Likes</strong></p>
        <h1>Post by {{ post.profile.username }}</h1>

        
        
        <p><small>Posted at: {{ post.timestamp }}</small></p>

        <a href="{% url 'update_post'  %}"> Update </a>
        <br>
        <a href="{% url 'delete_post'  %}" class="btn btn-danger">Delete</a>


        <p>{{ post.caption }}</p>
    
        <div style="display:flex; flex-wrap:wrap; gap:10px; margin-top:10px;">
            {% for photo in post.get_all_photo %}
                <img src="{{ photo.get_image_url }}" 
                     alt="Post Photo" 
                     style="width:300px; height:auto; border-radius:8px;">
            {% empty %}
                <p>No photos for this post.</p>
            {% endfor %}
        </div>
        <div class="comments-section">
            <h4>Comments:</h4>
            {% if post.get_all_comments %}
                <ul>
                    {% for comment in post.get_all_comments %}
                        <li>
                            <strong>{{ comment.profile.display_name }}:</strong>
                            {{ comment.text }}
                            <small>({{ comment.timestamp|date:"M d, Y H:i" }})</small>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No comments yet.</p>
            {% endif %}
        </div>
        
    
        
    </main>
    <hr>

    
    
    {% endblock %}
</body>
</html>